/*	CSS voor het Menu */
/*algemene css*/
.navbar-brand {
  padding: 0 2px 0 0; }

.container {
  width: 1280px;
  padding: 0; }
  @media (max-width: 1024px) {
    .container {
      width: 855px;
      padding: 0 15px; } }

.navbar {
  border-top: 2px #01a6a0 solid;
  position: absolute;
  top: 0;
  background-color: white;
  border-top: 4px solid #01a6a0;
  border-radius: 0;
  margin: 0;
  /* css voor hamburger menu- mobiel**/ }
  .navbar a {
    text-transform: uppercase; }
  .navbar .navbar-toggle {
    border: none; }
    .navbar .navbar-toggle:hover {
      background-color: white; }
    .navbar .navbar-toggle .icon-bar {
      background-color: #4e4e4e; }
  .navbar .logo {
    position: absolute;
    top: -4px;
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 71px;
    height: 98px;
    margin: 0 0 0 2px;
    box-shadow: 0px 0px 24px 0px rgba(1, 1, 1, 0.19);
    z-index: 99; }
    @media (max-width: 767px) {
      .navbar .logo {
        margin: 0 0 0 15px; } }
    @media (min-width: 1025px) {
      .navbar .logo {
        margin: 0 0 0 15px;
        width: 91px;
        height: 124px; } }

/*top menu */
#headnav {
  padding: 0 140px;
  background-color: #ffffff; }
  @media (min-width: 1025px) {
    #headnav {
      padding: 0 300px; } }
  @media (max-width: 320px) {
    #headnav {
      padding: 0 !important; } }

.navicons {
  margin: 0 5px 5px 0; }

.navigation {
  border: none;
  padding-right: 0; }
  .navigation ul {
    margin: 5px 0 5px 40px;
    padding-left: 67px;
    /* todo: logged in fixe                                         */ }
    .navigation ul li {
      margin-left: 25px;
      font-size: 0.9em;
      float: left; }
      @media (min-width: 1025px) {
        .navigation ul li {
          margin-left: 30px;
          font-size: 1.3em; } }
      .navigation ul li:nth-child(1) {
        padding-right: 7px;
        border-right: 1px solid #0a1e75;
        height: 19px; }
        .navigation ul li:nth-child(1) .navicons {
          margin: 0 5px 5px 0; }
        @media (min-width: 1025px) {
          .navigation ul li:nth-child(1) {
            padding-right: 20px;
            height: 19px; } }
      .navigation ul li:nth-child(2) {
        border-right: 1px solid #0a1e75;
        padding-left: 10px;
        padding-right: 10px;
        height: 19px; }
        @media (min-width: 1025px) {
          .navigation ul li:nth-child(2) {
            padding-left: 10px;
            padding-right: 20px; } }
      .navigation ul li a {
        padding: 5px 7px; }
      @media (max-width: 1024px) {
        .navigation ul li {
          margin: 0; } }
    @media (max-width: 767px) {
      .navigation ul {
        margin: 7px 0 3px 3px;
        display: inline-block; } }
    @media (min-width: 1025px) {
      .navigation ul {
        margin: 15px 0 15px 132px; } }
    .navigation ul.loggedin li {
      font-size: 1.3em; }
      .navigation ul.loggedin li:nth-child(1):before {
        content: "";
        display: block;
        background: url("/img/icon/watchlist.png") no-repeat;
        width: 11px;
        height: 10px;
        float: left;
        margin: 5px 10px 5px 0; }
      .navigation ul.loggedin li:nth-child(1) a {
        border-right: 1px solid #0a1e75;
        float: left;
        padding-right: 20px; }
      .navigation ul.loggedin li:nth-child(2):before {
        content: "";
        display: block;
        background: url("/img/icon/profile.png") no-repeat;
        width: 13px;
        height: 14px;
        margin: 3px 10px 3px 20px;
        float: left; }
      .navigation ul.loggedin li:nth-child(2) a {
        border-right: 1px solid #0a1e75;
        float: left;
        padding-right: 20px; }
      .navigation ul.loggedin li a {
        padding: 0;
        color: #0a1e75; }
      .navigation ul.loggedin li:last-child {
        padding-left: 20px; }
    .navigation ul.login li {
      font-size: 1.3em; }
      .navigation ul.login li:nth-child(1) a {
        border-right: 1px solid #0a1e75;
        padding-right: 40px; }
      .navigation ul.login li a {
        padding: 0;
        color: #0a1e75; }
      .navigation ul.login li:last-child {
        padding-left: 40px; }
  @media (max-width: 767px) {
    .navigation {
      margin-top: 90px; } }
  .navigation .find {
    height: 28px;
    padding-top: 6px; }
    @media (min-width: 1025px) {
      .navigation .find {
        padding-top: 16px; } }
    .navigation .find input {
      padding-left: 8px;
      font-size: 1.5em; }
      .navigation .find input[type="text"] {
        height: 24px;
        width: 146px;
        border: 1px solid;
        border-color: #9e9e9e;
        border-radius: 4px;
        color: #1d1d1b; }
        @media (min-width: 1025px) {
          .navigation .find input[type="text"] {
            height: 35px;
            width: 290px;
            border: 1.5px solid;
            border-color: #9e9e9e;
            border-radius: 4px;
            color: #1d1d1b; } }
      .navigation .find input[type="image"] {
        background-color: transparent;
        border: none;
        width: 20px;
        height: 15px;
        padding-left: 4px;
        margin-left: 0px; }
        @media (min-width: 1025px) {
          .navigation .find input[type="image"] {
            width: 30px;
            height: 22px;
            padding-left: 4px;
            background-color: transparent;
            border: none; } }
      @media (min-width: 1025px) {
        .navigation .find input .input-field input[type="text"] {
          width: 161px !important; } }
    .navigation .find.input-footer {
      margin: 18px 0 0 0; }
      .navigation .find.input-footer input[type="text"] {
        height: 28px;
        width: 183px; }

/* onderste menu css*/
.main-menu {
  background-color: #eaeaea;
  padding-left: 290px;
  top: 0;
  margin: 0;
  border: none; }
  @media (max-width: 768px) {
    .main-menu {
      padding-left: 0; }
      .main-menu .container {
        margin: 0px; }
      .main-menu .menu ul {
        padding: 10px 10px 10px 200px !important;
        width: 100%;
        float: left; }
        .main-menu .menu ul li {
          height: 25px; }
          .main-menu .menu ul li a {
            line-height: 50px;
            border: none !important; }
          .main-menu .menu ul li:nth-child(1)::before {
            margin: 20px 10px 20px 0 !important; }
          .main-menu .menu ul li:nth-child(2)::before {
            margin: 18px 10px 18px 0 !important; }
          .main-menu .menu ul li:last-child {
            padding-left: 0 !important; }
        .main-menu .menu ul:nth-child(2) {
          width: 20%;
          float: left !important;
          padding: 0px 0px 0px 50px !important; } }
@media (min-width: 769px) and (max-width: 1024px) {
  .main-menu {
    padding-left: 29px; } }

.menu {
  padding-right: 0; }
  .menu ul {
    /*eerste ul menu*/
    /*tweede ul menu*/ }
    .menu ul li {
      font-size: 1.5em;
      font-weight: bold;
      margin-right: 30px; }
      @media (max-width: 1023px) {
        .menu ul li {
          font-size: 1.2em;
          margin-right: 25px; } }
      .menu ul li a {
        color: #4e4e4e;
        padding: 0;
        line-height: 50px; }
    .menu ul:first-child {
      padding-left: 80px;
      margin-top: 0; }
      @media (max-width: 767px) {
        .menu ul:first-child {
          padding: 0; }
          .menu ul:first-child li {
            margin: 0;
            padding: 0 25px; }
            .menu ul:first-child li:hover {
              background-color: #d6d6d6; } }
@media (min-width: 769px) and (max-width: 1024px) {
  .menu ul:first-child {
    padding-left: 100px; } }

    .menu ul:last-child {
      padding-right: 116px;
      font-weight: bold !important;
      color: red; }
      .menu ul:last-child li {
        margin-right: 15px; }
        .menu ul:last-child li a {
          font-weight: normal;
          color: #0a1e75; }
        .menu ul:last-child li.active a {
          background-color: transparent;
          font-weight: bolder !important; }
      @media (max-width: 767px) {
        .menu ul:last-child {
          padding: 0 25px;
          text-align: center; }
          .menu ul:last-child li {
            height: 50px;
            width: 50px;
            float: left; }
            .menu ul:last-child li:hover {
              background-color: #d6d6d6; } }

/**css v/d footer*/
.footer {
  height: 566px;
  padding: 0 15px; }
  .footer .line {
    padding-top: 100px;
    border-bottom: 1px solid #e5e5e5; }
  @media (max-width: 767px) {
    .footer {
      height: auto; } }
  .footer .container {
    padding-top: 40px; }
    .footer .container div::after {
      display: block;
      content: ""; }
    .footer .container div #leftFoot div h4 {
      font-size: 1.8em; }
    .footer .container div #leftFoot div ul {
      float: left;
      font-size: 1.4em;
      padding-left: 0;
      margin: 0 0 15px 0; }
      .footer .container div #leftFoot div ul li {
        margin-top: 3px;
        line-height: 1.3em; }
        .footer .container div #leftFoot div ul li a {
          text-transform: none;
          color: #01a6a0; }
    .footer .container div #leftFoot div::after {
      display: block;
      content: "";
      clear: both; }
    @media (max-width: 767px) {
      .footer .container div #leftFoot div h4 {
        display: none; } }
    .footer .container div .find1 {
      height: 50px; }
      .footer .container div .find1 h4 {
        font-size: 1.6em; }
        @media (min-width: 1025px) {
          .footer .container div .find1 h4 {
            font-size: 1.8em;
            font-weight: 700; } }
      .footer .container div .find1 .input-field {
        padding: 20px 0; }
      .footer .container div .find1 input {
        padding-left: 8px;
        font-size: 1.5em; }
        .footer .container div .find1 input[type="text"] {
          height: 24px;
          width: 146px;
          border: 1px solid;
          border-color: #9e9e9e;
          border-radius: 4px;
          color: #1d1d1b; }
          @media (min-width: 1025px) {
            .footer .container div .find1 input[type="text"] {
              font-size: 1.1em;
              height: 30px;
              width: 248px;
              border: 1px solid;
              border-color: #9e9e9e;
              border-radius: 4px; } }
        .footer .container div .find1 input[type="image"] {
          background-color: transparent;
          border: none;
          width: 20px;
          height: 15px;
          padding-left: 4px;
          margin-left: 0px; }
          @media (min-width: 1025px) {
            .footer .container div .find1 input[type="image"] {
              padding-top: 3px;
              width: 25px;
              height: 21px;
              padding-left: 4px;
              background-color: transparent;
              border: none; } }
        @media (min-width: 1025px) {
          .footer .container div .find1 input .input-field input[type="text"] {
            width: 161px !important; } }
    .footer .container div .contact {
      float: left;
      margin-top: 60px; }
      @media (max-width: 768px) {
        .footer .container div .contact {
          margin-top: 0px; } }
      .footer .container div .contact h4 {
        font-size: 1.8em; }
      .footer .container div .contact ul {
        padding: 0;
        margin: 0; }
        .footer .container div .contact ul li {
          color: #5c5c5c;
          font-size: 1.7em; }
          .footer .container div .contact ul li:nth-child(3) {
            margin-bottom: 30px; }
          .footer .container div .contact ul li .contactInf {
            margin-left: 40px;
            padding-left: 40px !important; }
          .footer .container div .contact ul li a {
            color: #01a6a0;
            text-decoration: underline; }
            @media (max-width: 1024px) {
              .footer .container div .contact ul li a {
                font-size: 0.9em; } }
        .footer .container div .contact ul:last-child #social {
          float: left;
          margin-top: 25px;
          display: inline-block;
          height: 35px;
          width: 167px; }
    .footer .container div .copy {
      padding-top: 300px; }
      @media (max-width: 768px) {
        .footer .container div .copy {
          padding-top: 0px; }
          .footer .container div .copy div img {
            width: 15%; } }
      .footer .container div .copy div {
        padding: 20px 0; }
        .footer .container div .copy div img {
          padding: 10px 0 10px 10px;
          width: 26%; }
          @media (max-width: 1024px) {
            .footer .container div .copy div img {
              width: 45%;
              padding-left: 5px; } }
          @media (max-width: 320px) {
            .footer .container div .copy div img {
              width: 15%; } }
      .footer .container div .copy p {
        padding-left: 10px;
        font-size: 1.2em;
        color: #777777;
        line-height: 1.5;
        margin: 0; }
        @media (max-width: 1024px) {
          .footer .container div .copy p {
            font-size: 0.9em; } }

/*onderste menu */
footer {
  background: #eaeaea;
  height: 50px;
  box-sizing: content-box;
  border-bottom: 4px solid #01a6a0;
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  margin-top: 80px; }
  @media (max-width: 768px) {
    footer {
      width: 1500px;
      margin-top: 0px !important;
      height: 17%; }
      footer .container {
        width: 1280px; }
        footer .container div ul {
          padding-top: 2%; }
          footer .container div ul:first-child li {
            margin-right: 40px; } }
  footer .container {
    height: 100%; }
    footer .container .logo {
      background-repeat: no-repeat;
      background-size: contain;
      width: 103px;
      height: 140px;
      position: absolute;
      bottom: -4px;
      box-shadow: 0 0 24px 0 rgba(1, 1, 1, 0.19); }
      @media (max-width: 320px) {
        footer .container .logo {
          height: 80px;
          width: 40px; } }
    footer .container div ul {
      margin: 0;
      padding-left: 170px;
      text-transform: uppercase;
      /*eerste menu*/
      /*tweede menu*/ }
      @media (max-width: 1024px) {
        footer .container div ul {
          padding-left: 240px; } }
      @media (max-width: 320px) {
        footer .container div ul {
          width: 50%;
          float: left; } }
      footer .container div ul:first-child li {
        font-weight: bold;
        margin-right: 65px; }
        @media (max-width: 1024px) {
          footer .container div ul:first-child li {
            margin-right: 25px; } }
        @media (max-width: 320px) {
          footer .container div ul:first-child li {
            margin-right: 0px;
            float: left;
            width: 40px; } }
        footer .container div ul:first-child li a {
          font-size: 1.5em;
          color: #4e4e4e;
          padding: 0;
          line-height: 50px; }
      footer .container div ul:nth-child(2) {
        padding-left: 0;
        font-size: 1.3em; }
        @media (min-width: 1025px) {
          footer .container div ul:nth-child(2) {
            padding-right: 50px; } }
        @media (max-width: 320px) {
          footer .container div ul:nth-child(2) {
            width: 50%;
            float: left; } }
        footer .container div ul:nth-child(2) li a {
          font-weight: normal;
          color: #0a1e75; }
        @media (max-width: 320px) {
          footer .container div ul:nth-child(2) li {
            margin-right: 0px;
            float: left;
            width: 40px; } }
        footer .container div ul:nth-child(2) li .active {
          font-weight: bold; }
      @media (max-width: 767px) {
        footer .container div ul {
          padding-left: 0; } }

/*mainpage*/
#landing #landingImg {
  padding-top: 5%;
  background-size: cover;
  width: 100%;
  height: 90%; }
#landing .carousel-indicators {
  bottom: -240px !important; }
  #landing .carousel-indicators li {
    width: 12px;
    height: 12px;
    margin: 0 0 0 8px; }
#landing .carousel-control {
  margin-top: 30%;
  width: 50px;
  height: 50px; }
  #landing .carousel-control .glyphicon-chevron-left {
    margin-left: -13px; }
  #landing .carousel-control .glyphicon-chevron-right {
    margin-right: -13px; }
#landing #myCarousel {
  position: absolute;
  bottom: 100px;
  width: 100%;
  height: 190px; }
  @media (max-width: 1024px) {
    #landing #myCarousel {
      padding: 0 15px;
      height: auto; } }
  @media (max-width: 768px) {
    #landing #myCarousel {
      bottom: 15px; } }
  #landing #myCarousel .container {
    position: relative;
    height: 100%;
    padding: 0;
    display: flex;
    align-items: center; }
    #landing #myCarousel .container p {
      font-size: 1.5em;
      color: white;
      padding: 0 50px;
      margin: 0; }
      @media (max-width: 1024px) {
        #landing #myCarousel .container p {
          padding: 25px 50px; } }
      @media (max-width: 768px) {
        #landing #myCarousel .container p {
          padding: 15px;
          font-size: 1.2em; } }

.inleiding {
  background-color: #162a81; }

.inleidingCirkel {
  position: absolute;
  top: -16px;
  left: -16px;
  background-color: white;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  z-index: 1; }
  .inleidingCirkel .inner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #01a6a0;
    border-radius: 50%;
    width: 18px;
    height: 18px; }

/** css van how does it work section*/
#uitleg {
  height: auto;
  padding: 50px 0; }

.kolom {
  padding: 0 20px; }
  @media (min-width: 1025px) {
    .kolom {
      padding: 0 106px; } }
  .kolom h3 {
    font-size: 2.5em;
    margin: 35px 0 10px 0;
    text-align: center; }
  .kolom .icon {
    background-size: auto;
    width: 117px;
    height: 117px;
    margin: 0 auto; }
  .kolom p {
    text-align: center;
    font-size: 1.5em; }

/** css van most popular section*/
#popular {
  background-color: #eaeaea;
  padding: 50px 0 100px 0; }
  #popular h2 {
    font-size: 3.5em;
    font-weight: 200; }
  #popular .poprows div {
    padding: 0; }
    #popular .poprows div#leftArt {
      width: calc(100%/1024*314); }
      @media (max-width: 768px) {
        #popular .poprows div#leftArt {
          width: 100%; } }
      #popular .poprows div#leftArt div.overlay a {
        display: none; }
        #popular .poprows div#leftArt div.overlay a .svg-icon {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          background: url("/img/icon/download.svg");
          background-size: contain;
          background-repeat: no-repeat;
          width: calc(100%/702*115);
          height: calc(100%/348*113);
          z-index: 1; }
        #popular .poprows div#leftArt div.overlay a .transparent {
          position: absolute;
          background-color: #565656;
          height: 100%;
          width: 100%;
          opacity: 0.702; }
      #popular .poprows div#leftArt div.overlay:hover a {
        display: block; }
      #popular .poprows div#leftArt div img {
        width: 100%; }
      #popular .poprows div#leftArt div:first-child {
        margin-bottom: 7.5px; }
    #popular .poprows div#juweel {
      background-color: blue;
      width: calc(100%/1024*702);
      margin-left: calc(100%/1024*8); }
      #popular .poprows div#juweel img {
        width: 100%; }
      #popular .poprows div#juweel.overlay {
        -webkit-transition: 3s ease;
        -o-transition: 3s ease;
        -moz-transition: 3s ease;
        transition: 3s ease; }
        #popular .poprows div#juweel.overlay a {
          display: none; }
          #popular .poprows div#juweel.overlay a .svg-icon {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            background: url("/img/icon/download.svg");
            background-size: contain;
            background-repeat: no-repeat;
            width: calc(100%/702*115);
            height: calc(100%/348*113);
            z-index: 1; }
          #popular .poprows div#juweel.overlay a .transparent {
            position: absolute;
            background-color: #565656;
            height: 100%;
            width: 100%;
            opacity: 0.702; }
        #popular .poprows div#juweel.overlay:hover {
          -webkit-transition: 3s ease;
          -o-transition: 3s ease;
          -moz-transition: 3s ease;
          transition: 3s ease; }
          #popular .poprows div#juweel.overlay:hover a {
            display: block; }
      @media (max-width: 768px) {
        #popular .poprows div#juweel {
          width: 100%;
          margin: 7.5px 0 0 0; } }
    #popular .poprows div div {
      padding: 0; }
  @media (max-width: 1024px) {
    #popular {
      padding: 0 15px; } }

/*	CSS van add new auction*/
#inleiding {
  background-image: url("../img/platenspeler.jpg");
  background-size: contain;
  margin-top: -5%;
  height: 75%;
  background-repeat: no-repeat; }
  @media (min-width: 1025px) {
    #inleiding {
      margin-top: -5%; } }
  #inleiding .container {
    position: relative; }
  #inleiding .visit {
    background-color: #5165bc;
    margin: 10% 0 0 64%;
    width: 15%;
    height: 50%; }
    #inleiding .visit .inleidingCirkel {
      position: absolute;
      top: -16px;
      left: -16px;
      background-color: white;
      border-radius: 50%;
      width: 32px;
      height: 32px;
      z-index: 1; }
      #inleiding .visit .inleidingCirkel .inner {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: #01a6a0;
        border-radius: 50%;
        width: 18px;
        height: 18px; }
    #inleiding .visit #actie {
      color: white; }
      #inleiding .visit #actie h1 {
        color: white;
        margin: 10px 0 20px 0;
        font-size: 3em;
        padding: 0 15px 12px 15px;
        border-bottom: solid 1px white; }
      #inleiding .visit #actie p {
        padding: 0 15px;
        margin: 0;
        font-size: 1.2em;
        text-overflow: ellipsis; }
    #inleiding .visit #loremBtn {
      height: 70px;
      width: 100%;
      padding: 15px 20px;
      color: #01a6a0;
      font-size: 3em;
      background-color: white; }

#newAuction .container form .row {
  max-width: 753px;
  margin: 0; }
  #newAuction .container form .row:nth-child(2) .form-group:first-child {
    margin-right: calc(100%/753*60); }
  #newAuction .container form .row:nth-child(3) .form-group:first-child, #newAuction .container form .row:nth-child(3) .form-group:nth-child(2) {
    margin-right: calc(100%/753*60); }
  #newAuction .container form .row .form-group {
    padding: 0; }
  #newAuction .container form .row .select, #newAuction .container form .row .title {
    width: calc(100%/753*482); }
    @media (max-width: 767px) {
      #newAuction .container form .row .select, #newAuction .container form .row .title {
        width: 100%; } }
  #newAuction .container form .row label span {
    font-size: .7em; }
  #newAuction .container form .row .small-input {
    width: calc(100%/753*211); }
    @media (max-width: 767px) {
      #newAuction .container form .row .small-input {
        width: 100%; } }
  #newAuction .container form .row input {
    border-radius: 0;
    font-size: 1.5em;
    height: 48px;
    padding: 0 0 0 15px; }
    #newAuction .container form .row input[type="text"] {
      background-color: #f5f5f5;
      border: 1px solid #e5e5e5; }
    @media (max-width: 767px) {
      #newAuction .container form .row input {
        padding: 0 15px; } }
    #newAuction .container form .row input#title {
      width: 100%; }
  #newAuction .container form .row .big-textarea {
    width: 100%; }
    #newAuction .container form .row .big-textarea textarea {
      width: 100%;
      height: 125px;
      background-color: #f5f5f5;
      border: 1px solid #e5e5e5;
      resize: none;
      padding: 15px 0 0 15px;
      font-size: 1.5em;
      color: #545353; }
  #newAuction .container form .row .file-upload {
    width: 100%;
    margin-bottom: 0; }
    #newAuction .container form .row .file-upload p {
      font-size: 1.5em;
      color: #545353;
      margin: 0; }
    #newAuction .container form .row .file-upload .file-button {
      height: 58px;
      width: calc(100%/753*211);
      overflow: hidden;
      position: relative;
      cursor: pointer;
      text-align: center;
      background-color: #757575;
      margin-right: calc(100%/753*60);
      margin-top: 35px;
      font-size: 1.5em;
      text-transform: uppercase;
      display: flex;
      justify-content: center;
      align-items: center; }
      #newAuction .container form .row .file-upload .file-button p {
        color: white;
        font-size: 1em; }
        #newAuction .container form .row .file-upload .file-button p span {
          display: block; }
          @media (max-width: 767px) {
            #newAuction .container form .row .file-upload .file-button p span {
              display: inline-block; } }
      @media (max-width: 767px) {
        #newAuction .container form .row .file-upload .file-button {
          width: 100%; } }
      #newAuction .container form .row .file-upload .file-button:last-child {
        margin-right: 0; }
      #newAuction .container form .row .file-upload .file-button input[type="file"] {
        cursor: pointer;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 99;
        /*This makes the button huge. If you want a bigger button, increase the font size*/
        font-size: 50px;
        /*Opacity settings for all browsers*/
        opacity: 0;
        -moz-opacity: 0;
        filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0); }
  #newAuction .container form .row .pricing {
    padding: 0;
    margin-top: 40px; }
    #newAuction .container form .row .pricing h3 {
      font-family: 'Helvetica', sans-serif;
      font-weight: lighter;
      margin-bottom: 16px; }
    #newAuction .container form .row .pricing div {
      margin-bottom: 0; }
    #newAuction .container form .row .pricing .small-input {
      margin-right: calc(100%/753*60); }
      #newAuction .container form .row .pricing .small-input:last-child {
        margin: 0; }
      #newAuction .container form .row .pricing .small-input label {
        font-size: 1.8em; }
    #newAuction .container form .row .pricing .info {
      width: calc(100%/753*482); }
      @media (max-width: 767px) {
        #newAuction .container form .row .pricing .info {
          width: 100%; } }
      #newAuction .container form .row .pricing .info span {
        color: #0a1e75;
        font-size: 1.8em; }
      #newAuction .container form .row .pricing .info p {
        margin: 0;
        font-size: 1.4em; }
  #newAuction .container form .row .check {
    padding: 0;
    margin-top: 80px; }
    #newAuction .container form .row .check input, #newAuction .container form .row .check p {
      float: left; }
    #newAuction .container form .row .check input {
      height: auto;
      margin-right: 14px; }
    #newAuction .container form .row .check p {
      font-size: 1.5em;
      margin: 0; }
      #newAuction .container form .row .check p span {
        color: #01a6a0;
        text-decoration: underline; }
    #newAuction .container form .row .check::after {
      clear: both;
      display: block;
      content: ""; }
  #newAuction .container form .row .submit {
    padding: 0;
    margin-top: 32px;
    width: calc(100%/753*268); }
    @media (max-width: 767px) {
      #newAuction .container form .row .submit {
        width: 100%; } }
    #newAuction .container form .row .submit input {
      font-family: 'Helvetica', sans-serif;
      font-weight: lighter;
      font-size: 1.8em;
      background-color: #01a6a0;
      height: 60px;
      width: 100%;
      color: white;
      text-align: center;
      border: none; }
    #newAuction .container form .row .submit a {
      font-size: 1.4em;
      margin-top: 26px;
      display: block;
      color: #01a6a0;
      text-align: center; }

/*css van faq*/
#faq-filter {
  padding-top: 5%; }
  #faq-filter #faqImg {
    width: 100%;
    height: 60%; }
  #faq-filter .inleiding {
    background-color: #162a81a3;
    position: relative;
    height: 25%;
    padding: 0;
    width: 11%;
    display: flex;
    align-items: center; }
    #faq-filter .inleiding p {
      padding: 0 18px;
      color: white; }
  #faq-filter .inleidingCirkel {
    position: absolute;
    top: -16px;
    left: -16px;
    background-color: white;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    z-index: 1; }
    #faq-filter .inleidingCirkel .inner {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background-color: #01a6a0;
      border-radius: 50%;
      width: 18px;
      height: 18px; }
  @media (min-width: 991px) {
    #faq-filter .container {
      padding: 0; } }
  #faq-filter .container .filter {
    background-color: #f7f8f7;
    height: 134px;
    padding: 0 47px 0 50px;
    font-size: 1.8em;
    font-weight: bold;
    border: 1px solid #e5e5e5;
    display: flex;
    align-items: center; }
    @media (max-width: 991px) {
      #faq-filter .container .filter {
        height: auto;
        padding: 15px; } }
    #faq-filter .container .filter .filter-items {
      width: 100%;
      float: left; }
      #faq-filter .container .filter .filter-items div {
        padding: 0; }
        #faq-filter .container .filter .filter-items div ul li {
          line-height: 32px; }
          #faq-filter .container .filter .filter-items div ul li a {
            color: #01a6a0;
            border-bottom: 2px solid #01a6a0; }
  #faq-filter .container .button {
    float: right; }
    #faq-filter .container .button a {
      display: inline-block;
      text-align: center;
      line-height: 48px;
      width: 117px;
      height: 48px;
      background-color: #f5f5f5;
      border: 1px solid #e5e5e5;
      border-top: 0;
      font-weight: bold;
      color: #0a1e75;
      font-size: 1.2em;
      text-decoration: none; }
      #faq-filter .container .button a:hover {
        background-color: #e1e1e1; }

#faq-list {
  margin-top: 57px; }
  #faq-list .container .articles article {
    min-height: 135px;
    margin-bottom: 35px;
    border-bottom: 1px solid #f4f4f4; }
    @media (max-width: 991px) {
      #faq-list .container .articles article {
        height: auto; } }
    #faq-list .container .articles article:last-child {
      border: none;
      margin-bottom: 0; }
    #faq-list .container .articles article .qa {
      float: left; }
      #faq-list .container .articles article .qa ul li {
        color: #0a1e75;
        font-size: 3em; }
        #faq-list .container .articles article .qa ul li:last-child {
          color: #545353; }
    #faq-list .container .articles article .info {
      margin-left: 85px; }
      #faq-list .container .articles article .info p {
        font-size: 1.6em;
        line-height: 22px;
        color: #4e4e4e;
        margin-top: 30px;
        margin-bottom: 0; }
        #faq-list .container .articles article .info p span {
          font-weight: bold; }
          #faq-list .container .articles article .info p span:last-child {
            border-bottom: 2px solid #01a6a0;
            color: #01a6a0; }

/*
*
*	CSS of the ISEARCH page
*
*/
.isearch-bg {
  background: url("/img/platenspeler.jpg");
  background-size: cover;
  background-position-x: center;
  background-repeat: no-repeat;
  height: 536px;
  width: 100%; }
  .isearch-bg .container {
    padding-top: 104px;
    height: 100%; }
    .isearch-bg .container .info {
      position: relative;
      height: calc(100%/432*332);
      margin: 50px 0;
      width: 314px;
      color: white; }
      .isearch-bg .container .info .top {
        height: calc(100%/332*252); }
        .isearch-bg .container .info .top h1 {
          font-size: 3em;
          padding: 30px 0 0 30px;
          height: 71px;
          color: white;
          margin: 0;
          border-bottom: 1px solid #6c7dc6; }
        .isearch-bg .container .info .top p {
          margin: 0;
          font-size: 1.5em;
          padding: 21px 30px 0 30px; }
        .isearch-bg .container .info .top span {
          padding-left: 30px;
          margin-top: 14px;
          display: inline-block; }
          .isearch-bg .container .info .top span.bold {
            font-size: 1.5em; }
          .isearch-bg .container .info .top span.euro-size {
            font-size: 1.8em;
            padding-left: 0; }
      .isearch-bg .container .info .bottom {
        display: inline-block;
        background-color: white;
        height: calc(100%/332*80);
        width: 100%;
        color: #01a6a0;
        padding-left: 30px;
        font-size: 2em;
        text-transform: uppercase;
        align-items: center; }
        .isearch-bg .container .info .bottom span {
          display: inline-block;
          background: url("/img/icon/link-arrow.png");
          background-repeat: no-repeat;
          height: 22px;
          width: 11px;
          margin-left: 20px; }
        .isearch-bg .container .info .bottom:hover {
          text-decoration: none; }

#isearch-content .container {
  padding: 0; }
  @media (max-width: 767px) {
    #isearch-content .container {
      padding: 0 15px; } }
  #isearch-content .container h3 {
    font-family: 'Helvetica', sans-serif;
    font-weight: lighter;
    color: #545353;
    margin-bottom: 23px; }
  #isearch-content .container form {
    margin-left: 15px;
    margin-right: 15px; }
    #isearch-content .container form .right-marg {
      margin-right: calc(100%/1024*60); }
    #isearch-content .container form .row .form-group {
      padding: 0;
      margin-bottom: 0; }
      @media (max-width: 767px) {
        #isearch-content .container form .row .form-group {
          width: 100% !important;
          margin-bottom: 40px; } }
      #isearch-content .container form .row .form-group input {
        border-radius: 0;
        font-size: 1.5em;
        height: 48px; }
        #isearch-content .container form .row .form-group input[type="text"] {
          background-color: #f5f5f5;
          border: 1px solid #e5e5e5; }
    #isearch-content .container form .row:first-child .form-group {
      width: calc(100%/1024*482); }
    @media (min-width: 768px) {
      #isearch-content .container form .row:first-child {
        margin-bottom: 40px; } }
    #isearch-content .container form .row:nth-child(2) {
      margin-bottom: 19px; }
      #isearch-content .container form .row:nth-child(2) .form-group:first-child {
        width: calc(100%/1024*751); }
    #isearch-content .container form .row:nth-child(3) div {
      padding: 0; }
    #isearch-content .container form .row:nth-child(3) small {
      font-size: 1.4em; }
    #isearch-content .container form .row .button {
      width: calc(100%/1024*211); }
      @media (max-width: 767px) {
        #isearch-content .container form .row .button {
          margin-bottom: 0; } }
      #isearch-content .container form .row .button input {
        background-color: #757575;
        width: 100%;
        color: white;
        font-weight: bold;
        font-size: 1.4em; }

#isearch-overview {
  margin-top: 75px; }
  #isearch-overview .container {
    padding: 0; }
    @media (max-width: 767px) {
      #isearch-overview .container {
        padding: 0 15px; } }
    #isearch-overview .container h3 {
      font-family: 'Helvetica', sans-serif;
      font-weight: lighter;
      color: #545353;
      margin-bottom: 28px; }
    #isearch-overview .container .articles {
      float: left;
      height: auto; }
      #isearch-overview .container .articles::after {
        clear: both;
        display: block;
        content: ""; }
      #isearch-overview .container .articles article {
        padding: 0;
        height: 95px;
        border: 1px solid #e5e5e5;
        border-bottom: 0;
        display: flex;
        align-items: center; }
        @media (max-width: 767px) {
          #isearch-overview .container .articles article {
            height: auto;
            padding: 15px 0; } }
        #isearch-overview .container .articles article:last-child {
          border-bottom: 1px solid #e5e5e5; }
        #isearch-overview .container .articles article .info {
          width: calc(100%/1024*813);
          padding-left: 0; }
          #isearch-overview .container .articles article .info p {
            padding-left: 46px;
            margin-bottom: 0;
            font-size: 1.5em;
            color: #5c5c5c; }
            @media (max-width: 767px) {
              #isearch-overview .container .articles article .info p {
                padding-left: 15px; } }
            #isearch-overview .container .articles article .info p span {
              font-weight: bold; }
        #isearch-overview .container .articles article .button {
          width: calc(100%/1024*211);
          display: flex;
          justify-content: center; }
          #isearch-overview .container .articles article .button a {
            display: inline-block;
            width: 172px;
            background-color: #f5f5f5;
            height: 48px;
            text-align: center;
            line-height: 48px;
            border: 1px solid #e5e5e5;
            font-size: 1.2em;
            font-weight: bold;
            color: #0a1e75;
            text-decoration: none; }
            #isearch-overview .container .articles article .button a:hover {
              background-color: #e1e1e1; }

section {
  margin-top: 140px; }
  section .container h1 {
    margin-bottom: 0; }
  section .container #datum {
    font-size: 1.4em;
    margin: 5px 0 23px 0; }
    section .container #datum span {
      color: #0a1e75; }
    section .container #datum i {
      margin-left: 15px;
      color: #0a1e75; }
  section .container .detail .row {
    margin: 0; }
    section .container .detail .row .no-padding {
      padding: 0; }
    section .container .detail .row .col-sm-8 {
      width: calc(100%/1024*710);
      margin-right: calc(100%/1024*64); }
      @media (max-width: 767px) {
        section .container .detail .row .col-sm-8 {
          width: 100%; } }
      section .container .detail .row .col-sm-8 .detail-pictures {
        height: 502px; }
        section .container .detail .row .col-sm-8 .detail-pictures .main {
          height: 381px;
          margin-bottom: 12px; }
          section .container .detail .row .col-sm-8 .detail-pictures .main img {
            border: 1px solid #a4a4a4;
            width: 100%;
            height: 100%;
            object-fit: cover; }
        section .container .detail .row .col-sm-8 .detail-pictures .thumbnails {
          display: inline-block;
          width: 100%; }
          section .container .detail .row .col-sm-8 .detail-pictures .thumbnails::after {
            clear: both;
            display: block;
            content: ""; }
          section .container .detail .row .col-sm-8 .detail-pictures .thumbnails a {
            background-color: red;
            float: left;
            width: calc(100%/710*229);
            padding: 0;
            height: 109px;
            cursor: pointer; }
            section .container .detail .row .col-sm-8 .detail-pictures .thumbnails a:hover .overlay {
              background-color: rgba(255, 255, 255, 0); }
            section .container .detail .row .col-sm-8 .detail-pictures .thumbnails a:nth-child(1) {
              margin-right: calc(100%/710*12); }
            section .container .detail .row .col-sm-8 .detail-pictures .thumbnails a:nth-child(2) {
              margin-right: calc(100%/710*11); }
            section .container .detail .row .col-sm-8 .detail-pictures .thumbnails a .overlay {
              position: absolute;
              left: 0;
              top: 0;
              width: 100%;
              height: 100%;
              background-color: rgba(255, 255, 255, 0.7);
              border: 1px solid #a4a4a4;
              z-index: 1; }
            section .container .detail .row .col-sm-8 .detail-pictures .thumbnails a img {
              width: 100%;
              object-fit: cover;
              height: 100%;
              border: 1px solid #a4a4a4; }
    section .container .detail .row .col-sm-4 {
      width: calc(100%/1024*250); }
      @media (max-width: 767px) {
        section .container .detail .row .col-sm-4 {
          width: 100%; }
          section .container .detail .row .col-sm-4.no-padding {
            margin-top: 50px; } }
      section .container .detail .row .col-sm-4 .information {
        text-align: right;
        margin-bottom: 50px; }
        section .container .detail .row .col-sm-4 .information .title {
          border-bottom: 1px solid #e5e5e5;
          height: 51px; }
          section .container .detail .row .col-sm-4 .information .title h6 {
            font-family: 'Helvetica', sans-serif;
            font-size: 2.7em;
            color: black;
            margin: 0; }
          section .container .detail .row .col-sm-4 .information .title a {
            font-size: 1.4em; }
        section .container .detail .row .col-sm-4 .information .expire {
          border-bottom: 1px solid #e5e5e5;
          height: 73px;
          display: flex;
          align-items: center;
          justify-content: flex-end; }
          section .container .detail .row .col-sm-4 .information .expire div p {
            font-size: 1.4em;
            margin: 0; }
            section .container .detail .row .col-sm-4 .information .expire div p.date {
              color: #01a6a0; }
        section .container .detail .row .col-sm-4 .information .description {
          margin-top: 22px; }
          section .container .detail .row .col-sm-4 .information .description p {
            font-size: 1.3em;
            margin: 0; }
          section .container .detail .row .col-sm-4 .information .description a {
            font-size: 1.4em;
            font-weight: bold;
            color: black;
            border-bottom: 2px solid black; }
      section .container .detail .row .col-sm-4 .bid {
        border: 1px solid #e5e5e5;
        text-align: right;
        height: 233px; }
        section .container .detail .row .col-sm-4 .bid .info {
          height: 111px;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          margin-right: 20px; }
          section .container .detail .row .col-sm-4 .bid .info div p {
            margin: 0;
            font-size: 1.6em;
            color: #0a1e75; }
            section .container .detail .row .col-sm-4 .bid .info div p.price {
              font-weight: bold;
              font-size: 2.5em; }
          section .container .detail .row .col-sm-4 .bid .info div a {
            font-size: 1.4em;
            font-weight: bold;
            color: #01a6a0;
            border-bottom: 1px solid #01a6a0; }
        section .container .detail .row .col-sm-4 .bid .bid-system p {
          font-size: 1.4em;
          margin: 0;
          padding-right: 20px;
          height: 24px; }
        section .container .detail .row .col-sm-4 .bid .bid-system div form {
          width: 100%;
          height: 60px;
          background-color: #01a6a0;
          display: flex;
          padding: 12px 20px 11px 18px; }
          section .container .detail .row .col-sm-4 .bid .bid-system div form i {
            color: white;
            margin-left: 15px; }
          section .container .detail .row .col-sm-4 .bid .bid-system div form input {
            float: left; }
            section .container .detail .row .col-sm-4 .bid .bid-system div form input[type="text"] {
              font-family: 'Helvetica', sans-serif;
              height: 37px;
              width: 112px;
              font-size: 1.7em;
              padding-left: 14px; }
            section .container .detail .row .col-sm-4 .bid .bid-system div form input[type="submit"] {
              background: transparent;
              border: none;
              color: white;
              font-size: 1.4em;
              font-weight: bold;
              margin-left: 14px; }
        section .container .detail .row .col-sm-4 .bid .link {
          text-align: center;
          font-size: 1.4em;
          height: 37px;
          line-height: 37px; }
          section .container .detail .row .col-sm-4 .bid .link a {
            color: #0a1e75;
            border-bottom: 1px solid #0a1e75; }
    section .container .detail .row .DescriptionDoT {
      height: 383px;
      margin: 50px 0;
      border: 1px solid #e5e5e5;
      padding: 35px 20px; }
      @media (max-width: 767px) {
        section .container .detail .row .DescriptionDoT {
          height: auto; } }
      section .container .detail .row .DescriptionDoT .col-sm-9 {
        padding: 0;
        width: calc(100%/984*690);
        margin-right: calc(100%/984*64);
        height: 100%; }
        @media (max-width: 767px) {
          section .container .detail .row .DescriptionDoT .col-sm-9 {
            width: 100%; } }
        section .container .detail .row .DescriptionDoT .col-sm-9 .text:first-child {
          margin-bottom: 27px; }
        section .container .detail .row .DescriptionDoT .col-sm-9 .text h4 {
          font-size: 1.3em;
          font-weight: bold;
          color: black;
          margin: 0; }
        section .container .detail .row .DescriptionDoT .col-sm-9 .text p {
          font-size: 1.2em;
          color: #595959;
          line-height: 20px;
          margin-bottom: 0; }
      section .container .detail .row .DescriptionDoT .col-sm-3 {
        height: 100%;
        width: calc(100%/984*230);
        padding: 0 0 0 20px; }
        @media (max-width: 767px) {
          section .container .detail .row .DescriptionDoT .col-sm-3 {
            width: 100%;
            padding-left: 0;
            margin-top: 20px; } }
        section .container .detail .row .DescriptionDoT .col-sm-3 div .artist, section .container .detail .row .DescriptionDoT .col-sm-3 div .dimensions, section .container .detail .row .DescriptionDoT .col-sm-3 div .color {
          margin-bottom: 30px; }
          section .container .detail .row .DescriptionDoT .col-sm-3 div .artist p, section .container .detail .row .DescriptionDoT .col-sm-3 div .dimensions p, section .container .detail .row .DescriptionDoT .col-sm-3 div .color p {
            margin: 0;
            font-size: 1.3em;
            color: #595959;
            line-height: 20px; }
            section .container .detail .row .DescriptionDoT .col-sm-3 div .artist p.title, section .container .detail .row .DescriptionDoT .col-sm-3 div .dimensions p.title, section .container .detail .row .DescriptionDoT .col-sm-3 div .color p.title {
              font-weight: bold;
              color: black; }
        section .container .detail .row .DescriptionDoT .col-sm-3 div .askquestion {
          height: 59px;
          background-color: #757575;
          width: 209px;
          border-radius: 0;
          text-align: center;
          display: flex;
          align-items: center; }
          section .container .detail .row .DescriptionDoT .col-sm-3 div .askquestion a {
            padding: 8px 0;
            display: block;
            color: white;
            font-weight: bold;
            font-size: 1.4em;
            width: 100%;
            height: 100%; }
            section .container .detail .row .DescriptionDoT .col-sm-3 div .askquestion a:hover {
              text-decoration: none; }
  section #related {
    height: 547px;
    background-color: #f4f4f4; }
    @media (max-width: 767px) {
      section #related {
        height: auto; } }
    section #related .container {
      height: 100%; }
      section #related .container h2 {
        font-size: 3em;
        text-align: left;
        margin-top: 44px;
        line-height: 23px; }
      section #related .container .col-sm-3 {
        width: calc(100%/1024*250);
        height: 382px;
        margin-right: calc(100%/1024*8);
        padding: 0;
        margin-bottom: 50px; }
        @media (max-width: 767px) {
          section #related .container .col-sm-3 {
            width: 100%; } }
        section #related .container .col-sm-3:last-child {
          margin-right: 0; }
        section #related .container .col-sm-3 .item {
          height: 100%; }
          section #related .container .col-sm-3 .item .image {
            height: 250px;
            width: 100%; }
            section #related .container .col-sm-3 .item .image img {
              width: 100%;
              height: 100%;
              object-fit: cover; }
          section #related .container .col-sm-3 .item .info {
            height: 132px;
            padding-top: 25px;
            display: flex;
            justify-content: center; }
            section #related .container .col-sm-3 .item .info div p, section #related .container .col-sm-3 .item .info div h6 {
              margin: 0; }
            section #related .container .col-sm-3 .item .info div > a {
              font-size: 1.5em;
              color: #0a1e75; }
            section #related .container .col-sm-3 .item .info div h6 {
              font-size: 2em;
              color: #545353;
              line-height: 16px; }
            section #related .container .col-sm-3 .item .info div p {
              font-size: 1.4em; }
              section #related .container .col-sm-3 .item .info div p.price {
                font-size: 1.8em; }
            section #related .container .col-sm-3 .item .info div .visit-auction {
              float: left;
              border-bottom: 1px solid #e5e5e5;
              margin-top: -7px;
              text-align: center;
              line-height: 48px; }
              section #related .container .col-sm-3 .item .info div .visit-auction p, section #related .container .col-sm-3 .item .info div .visit-auction a {
                float: left; }
              section #related .container .col-sm-3 .item .info div .visit-auction p {
                margin-right: 11px; }
              section #related .container .col-sm-3 .item .info div .visit-auction a {
                height: 50px;
                width: 117px;
                border: 1px solid #e5e5e5;
                color: #0a1e75;
                font-size: 1.2em;
                font-weight: bold; }

/*algemene css*/
body, html {
  height: 100%; }

body {
  font-family: Arial, sans-serif;
  font-size: 1em; }

h1 {
  font-family: 'Helvetica', sans-serif;
  font-size: 4.5em;
  font-weight: 400;
  margin: 55px 0;
  color: #545353; }

h2 {
  font-family: 'Helvetica', sans-serif;
  font-size: 4em;
  color: #0a1e75;
  font-weight: 300;
  margin-bottom: 50px;
  text-align: center; }

h3 {
  font-size: 2.5em;
  margin: 0; }

h4 {
  font-size: 2.2em;
  font-weight: 600;
  margin: 0;
  color: black; }

h5 {
  font-size: 2em;
  font-weight: bold;
  margin: 0;
  color: #0a1e75; }

ul {
  list-style: none; }

label {
  font-size: 2em;
  color: #0a1e75;
  font-weight: normal; }

/*errors */
.errors {
  border: none;
  border-radius: 0;
  background-color: #fff1f1;
  padding-left: 50px;
  font-size: 1.5em;
  height: 115px;
  display: flex;
  align-items: center; }
  .errors ul li {
    list-style: disc;
    color: #ff0400; }

/* Inclusive and exclusive operators for a finer control over the intervals */
@media (min-width: 769px) and (max-width: 1024px) {
  .navbar, .landing, .footer, footer, #landing, #popular, #uitleg {
    width: 100%; } }
@media (min-width: 1025px) {
  .navbar, .landing {
    width: 100%;
    margin: 0; } }
@media (min-width: 381px) and (max-width: 768px) {
  .navbar, .landing {
    width: 1500px; } }
@media (max-width: 379px) {
  .navbar, .landing {
    width: 100%; }

  .container {
    width: 1000px !important; } }

/*# sourceMappingURL=main.css.map */
