/*css van faq*/
#filterFaq{

  .inleiding{
  background-color:   #162a81a3;


      position: relative;
      height: 25%;
      padding: 0;
width: 11%;
      display: flex;
      align-items: center;
p{
  padding: 0 18px;
  color: white;
}
  }

  .inleidingCirkel{
    position: absolute;
    top: -16px;
    left: -16px;
    background-color: white;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    z-index: 1;

    .inner {
      border-radius: 50%;
      width: 18px;
      height: 18px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background-color: $green;

    }
  }
  .container {
  padding: 0;


    .filter {
      font-weight: bold;
      border: 1px solid $lightergrey;
      background-color: #f7f8f7;
      height: 134px;
      padding: 0 47px 0 50px;
      font-size: 1.8em;
      display: flex;
      align-items: center;


      .questions {
        width: 100%;
        float: left;

        div {
          padding: 0;
          ul {
            li {
              line-height: 32px;
              a {
                color: $green;
                border-bottom: 2px solid $green;
              }
            }
          }
        }
      }
    }

    .button {
      float: right;
      a {
        background-color: $lightestGrey;
        border: 1px solid $lightergrey;
        display: inline-block;
        text-align: center;
        line-height: 45px;
        width: 118px;
        height: 48px;

        border-top: 0;
        font-weight: bold;
        color: $blue;
        font-size: 1.2em;
        text-decoration: none;

        &:hover {
          background-color: $hoverGreyBtn;
        }
      }
    }
  }
}

#faq {
  margin-top: 57px;

  .container {
    .qa {
      article {
        min-height: 135px;
        margin-bottom: 35px;
        border-bottom: 1px solid #f4f4f4;

        &:last-child {
          border: none;
          margin-bottom: 0;
        }

        .questions {
          float: left;
          ul {
            li {
              color: $blue;
              font-size: 3em;
              padding-bottom: 10px;
              &:last-child {
                color: #545353;
              }
            }
          }
        }

        .answer {
          margin-left: 85px;
          h5{
            padding-top: 8px;
          }
          p {

            line-height: 24px;
            color: $darkgrey;
            margin-top: 30px;
            margin-bottom: 0;
            font-size: 1.6em;


            span {
              font-weight: bold;

              &:last-child {
                border-bottom: 2px solid $green;
                color: $green;
              }
            }
          }
        }
      }
    }
  }
}