
/*isearch css*/
#isearch{
  .container {
    padding: 0;


    h3 {

      font-weight: lighter;
      color: #545353;
      margin-bottom: 23px;
    }

    form {
     margin: 0 15px;

      .marginR {
        margin-right: calc(100%/1024*60);
      }

      .row {
        .form-group {
          padding: 0;
          margin-bottom: 0;

          @include media("<=medium") {
            width: 100% !important;
            margin-bottom: 40px;
          }

          input {
            border-radius: 0;
            font-size: 1.5em;
            height: 48px;
            &[type="text"] {
              background-color: $lightestGrey;
              border: 1px solid $lightergrey;

            }


          }
        }

        &:first-child {
          .form-group {
            width: calc(100%/1024*482);
          }

          @include media(">=medium") {
            margin-bottom: 40px;
          }
        }

        &:nth-child(2) {
          .form-group {
            &:first-child {
              width: calc(100%/1024*751);
            }
          }

          margin-bottom: 19px;
        }

        &:nth-child(3) {
          div {
            padding: 0;
          }

          small {
            font-size: 1.4em;
          }
        }

       #submit {
         float: left;
         margin-top: 3%;
          width: 140px;
         background-color: $darkerGrey;
         color: white;
         font-weight: bold;
         font-size: 1.4em;
          @include media("<=medium") {
            margin-bottom: 0;
          }




        }
      }

    }

    @include media("<=medium") {
      padding: 0 15px;
    }
  }


}
