/*mainpage*/
#landing {
#landingImg{
  padding-top: 5%;
  background-size: cover;
  width: 100%;
  height: 90%;

}
  .carousel-indicators{
    bottom:-240px !important;
    li{
      width: 12px;
      height: 12px;
      margin:0 0 0 8px;
    }
  }
  .carousel-control{
    //background-image: none;
    margin-top: 30%;
    width: 50px;
    height: 50px;
    .glyphicon-chevron-left{
      margin-left: -13px;
    }
    .glyphicon-chevron-right{
      margin-right: -13px;
    }
  }
  #myCarousel {
    position: absolute;
    bottom: 100px;
    width: 100%;
    height: 190px;

    @include media ("<=large") {
      padding: 0 15px;
      height: auto;
    }

    @include media ("<=medium") {
      bottom: 15px;
    }
    .container {
      position: relative;
      height: 100%;
      padding: 0;

      display: flex;
      align-items: center;

      p {
        font-size: 1.5em;
        color: white;
        padding: 0 50px;
        margin: 0;

        @include media ("<=large") {
          padding: 25px 50px;
        }

        @include media ("<=medium") {
          padding: 15px;
          font-size: 1.2em;
        }
      }
    }
  }
}
.inleiding{
  background-color: #162a81;
}
// icon van de blauwe achtergnd
.inleidingCirkel{
  position: absolute;
  top: -16px;
  left: -16px;
  background-color: white;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  z-index: 1;

  .inner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: $green;
    border-radius: 50%;
    width: 18px;
    height: 18px;
  }
}
/** css van how does it work section*/
#uitleg {
  height: auto;
  padding: 50px 0;
}
  .kolom{
        padding: 0 20px;
        @include media (">large") {
          padding: 0 106px;
        }
    h3 {
      font-size: 2.5em;
      margin: 35px 0 10px 0;
      text-align: center;
    }
          .icon {
            background-size: auto;
            width: 117px;
            height: 117px;
            margin: 0 auto;
          }

        p {
          text-align: center;
          font-size: 1.5em;
        }
      }



/**  most popular section*/
#popular{
  background-color: $grey;
  padding: 50px 0 100px 0;
h2{
  font-size: 3.5em;
  font-weight: 200;
}
  .poprows{
      div {
        padding: 0;
        &#leftArt {
          width: calc(100%/1024*314);
          @include media ("<=medium") {
            width: 100%;
          }

          div {
            &.filters {
              a {
                display: none;
                .transparent {
                  position: absolute;
                  background-color: $hoverGrey;
                  height: 100%;
                  width: 100%;
                  opacity: 0.702;
                }
              }

              &:hover {
                a {
                  display: block;
                }
              }
            }

            img {
              width: 100%;
            }
            &:first-child {
              margin-bottom: 7.5px;
            }
          }
        }

        &#juweel {

          width: calc(100%/1024*702);
          margin-left: calc(100%/1024*8);

          img {
            width: 100%;
          }


          &.filters {
            -webkit-transition: 3s ease;
            -o-transition: 3s ease;
            -moz-transition: 3s ease;
            transition :3s ease;
            a {
              display: none;


              .transparent {
                position: absolute;
                background-color: $hoverGrey;
                height: 100%;
                width: 100%;
                opacity: 0.702;
              }
            }

            &:hover {
              -webkit-transition: 3s ease;
              -o-transition: 3s ease;
              -moz-transition: 3s ease;
              transition :3s ease;
              a {
                display: block;
              }
            }
          }

          @include media ("<=medium") {
            width: 100%;
            margin: 7.5px 0 0 0;
          }
        }

        div {
          padding: 0;
        }
      }
    }
  @include media ("<=large") {
    padding: 0 15px;
  }

}
