
/*mainpage***************************************************************************/
#landing{
  padding-top: 5%;
  background-size: cover;

  width: 100%;
  height: 90%;

  z-index: 0;
}
.landing {



  .carousel {
    position: absolute;
    bottom: 100px;
    width: 100%;
    height: 190px;
    @media (max-width: 991px) {
      padding: 0 15px;
      height: auto;
    }

    @media (max-width: 767px) {
      bottom: 15px;
    }
    .container {
      position: relative;
      height: 100%;
      padding: 0;

      display: flex;
      align-items: center;

      p {
        font-size: 1.5em;
        color: white;
        padding: 0 50px;
        margin: 0;

        @media (max-width: 991px) {
          padding: 25px 50px;
        }

        @media (max-width: 767px) {
          padding: 15px;
          font-size: 1.2em;
        }
      }
    }
  }
}
.inleiding{
  background-color: #162a81;
}
// icon of blue overlay
.inleidingCirkel{
  position: absolute;
  top: -16px;
  left: -16px;
  background-color: white;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  z-index: 1;

  .inner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: $green;
    border-radius: 50%;
    width: 18px;
    height: 18px;
  }
}

.uitleg{
  height: auto;
  padding: 50px 0;

  .container {
    .row {
      text-align: center;

      div {
        padding: 0 20px;
        @media (min-width: 991px) {
          padding: 0 60px;
        }

        &:nth-child(1), &:nth-child(2), &:nth-child(3) {
          .icon {
            background-size: auto;
            width: 117px;
            height: 117px;
            margin: 0 auto;
          }
        }

        &:nth-child(1) {
          .icon {
            background: url('/img/potlood.png') no-repeat;
          }
        }

        &:nth-child(2) {
          .icon {
            background: url('/img/check.png') no-repeat;
          }
        }

        &:nth-child(3) {
          .icon {
            background: url('/img/emoticon.png') no-repeat;
          }
        }

        h3 {
          font-size: 2.5em;
          margin: 35px 0 10px 0;
        }

        p {
          font-size: 1.5em;
        }
      }
    }
  }
}

.popular {
  background-color: $grey;
  padding: 50px 0 100px 0;

  .container {
    .row {
      @media (max-width: 991px) {
        padding: 0 15px;
      }

      div {
        padding: 0;
        &.col-md-4 {
          width: calc(100%/1024*314);
          @media (max-width: 767px) {
            width: 100%;
          }

          div {
            &.overlay {
              a {
                display: none;
                .svg-icon {
                  position: absolute;
                  left: 50%;
                  top: 50%;
                  transform: translate(-50%, -50%);
                  background: url('/img/icon/download.svg');
                  background-size: contain;
                  background-repeat: no-repeat;
                  width: calc(100%/702*115);
                  height: calc(100%/348*113);
                  z-index: 1;
                }

                .transparent {
                  position: absolute;
                  background-color: $hoverGrey;
                  height: 100%;
                  width: 100%;
                  opacity: 0.702;
                }
              }

              &:hover {
                a {
                  display: block;
                }
              }
            }

            img {
              width: 100%;
            }
            &:first-child {
              margin-bottom: 7.5px;
            }
          }
        }

        &.col-md-8 {
          background-color: blue;
          width: calc(100%/1024*702);
          margin-left: calc(100%/1024*8);

          @media (max-width: 767px) {
            width: 100%;
            margin: 7.5px 0 0 0;
          }

          &.overlay {
            -webkit-transition: 3s ease;
            -o-transition: 3s ease;
            -moz-transition: 3s ease;
            transition :3s ease;
            a {
              display: none;
              .svg-icon {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                background: url('/img/icon/download.svg');
                background-size: contain;
                background-repeat: no-repeat;
                width: calc(100%/702*115);
                height: calc(100%/348*113);
                z-index: 1;
              }

              .transparent {
                position: absolute;
                background-color: $hoverGrey;
                height: 100%;
                width: 100%;
                opacity: 0.702;
              }
            }

            &:hover {
              -webkit-transition: 3s ease;
              -o-transition: 3s ease;
              -moz-transition: 3s ease;
              transition :3s ease;
              a {
                display: block;
              }
            }
          }

          img {
            width: 100%;
          }
        }

        div {
          padding: 0;
        }
      }
    }
  }
}