/*css van my watchlist*/
#myWatchlist {

    h1 {
      margin-bottom: 0;
    }

    .knoppen {
      height: 50px;
      a {
        font-size: 1.2em;
        color: $blue;
        font-weight: bold;
        margin-right: 5px;
        background-color: $lightestGrey;
        border: 1px solid $lightergrey;
        width: 158px;
        height: 100%;
        line-height: 50px;
        text-align: center;
        margin-bottom: 46px;
        span{
          margin-left: 8px;
        }
      }
    }

  .checkboxes{
    margin: 115px 0;
    &:first-child {
      margin: 100px 0;
    }
  }
    .watchlist {
      .filter {
        ul {
          display: inline-block;
          li {
            float: left;
            font-size: 1.2em;

            &:first-child {
              font-weight: bold;
              a {
                padding-bottom: 7px;
                border-bottom: 3px solid #d4d4d4;
              }
            }

            &:nth-child(2), &:nth-child(3) {
              margin-left: 6px;
            }
            a {
              color: #545353;
            }
          }
        }
      }
    }


}
/* css van de tabel*/
table {
  width: 100%;
  thead {
    tr {
      border: 1px solid #cacaca;
      th {
        background-color: #f8f8f8;
        text-align: center;
        height: 35px;
        color: $hoverGrey;
        font-size: 1em;


        &:first-child {
          width: calc(100%/1024*535);
        }

        &:nth-child(2) {
          width: calc(100%/1024*162);
        }

        &:nth-child(3) {
          width: calc(100%/1024*162);
        }

        &:nth-child(4) {
          width: calc(100%/1024*165);
        }
      }
    }
  }
  tbody {
    tr {
      td {
        height: 135px;
        border: 1px solid #cacaca;
        text-align: center;
        color: #545353;

        .image {
          background-color: red;
          display: block;
          height: 100%;
          width: 135px;
          float: left;
        }

        &:nth-child(2) {
          font-size: 1.35em;
        }

        &:nth-child(3) {
          font-size: .9em;
          line-height: 20px;
        }

        &:nth-child(4) {
          font-size: 1.5em;
        }

        .info {
          float: left;
          height: 100%;
          margin-left: 47px;
          text-align: left;

          display: flex;
          align-items: center;

          h3 {
            font-size: 1.45em;
            font-weight: normal;
            margin: 0 !important;
          }

          a {
            font-size: 1.05em;
            color: $blue;
          }
        }
      }
    }
  }
}
