/*	CSS voor het Menu */
$menucolor:#eaeaea;
$lightblue-overlay: #485cb2;
$green: #01a6a0;
$danger: #fff1f1;
$grey: #eaeaea;
$lightgrey: lighten($grey, 10%);
$lightergrey : lighten($lightgrey, 10%);
$hoverGreyBtn: #e1e1e1;
$lightestGrey: #f5f5f5;
$lightergrey: #e5e5e5;
$darkgrey: darken($grey, 20%);
$darkergrey: darken($darkgrey, 10%);
$darkgrey: #4e4e4e;
$darkestgrey: #1d1d1b;
$darkerGrey: #757575;
$footerGrey: #5c5c5c;
$hoverGrey: #565656;
$blue: #0a1e75;
$lightBlue: #0120a6;
$lighterBlue: #2b45b5;
$breakpoints: (small: 320px, medium: 768px, large: 1024px);


/*algemene css*/
.navbar-brand{
  padding:0 2px 0 0;
}
.container {
  width: 1280px;
  padding: 0;
  @include media ("<=large") {
    width: 855px;
    padding: 0 15px;
  }
}

.navbar {
  border-top: 2px #01a6a0 solid;
  a{
    text-transform: uppercase;
  }
  position: absolute;
  top: 0;
  background-color: white;
  border-top: 4px solid $green;
  border-radius: 0;
  margin: 0;

  /* css voor hamburger menu- mobiel**/
  .navbar-toggle {
    border: none;

    &:hover {
      background-color: $lightgrey;
    }

    .icon-bar {
      background-color: $darkgrey;
    }
  }

  .logo{
    position: absolute;
    top: -4px;
    background-image: url('../img/logo.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 71px;
    height: 98px;

    margin: 0 0 0 2px;

    @include media("<medium") {
      margin: 0 0 0 15px;
    }
    @include media(">large") {
      margin: 0 0 0 15px;
      width: 91px;
      height: 124px;
    }
    box-shadow: 0px 0px 24px 0px rgba(1, 1, 1, 0.19);
    z-index: 99;
  }



}


/*top menu */
#headnav{
  padding: 0 140px;
  background-color: #ffffff;
  @include media (">large") {

    padding:0 300px ;
  }
  @include media("<=small") {

    padding:0 !important;
  }
}

.navicons{
  margin:0 5px 5px 0;
}

.navigation {
  border: none;
  padding-right: 0;
  ul {
    margin: 5px 0 5px 40px;
    padding-left: 67px;
    li{
      margin-left: 25px;
      font-size: 0.9em;
      float: left;
      @include media (">large") {
        margin-left: 30px;
        font-size: 1.3em;
      }
      &:nth-child(1){
        padding-right: 7px;
          border-right: 1px solid $blue ;
          height: 19px;
        .navicons{
          margin:0 5px 5px 0;
        }
        @include media (">large") {
          padding-right: 20px;
          height: 19px;
        }
      }
      &:nth-child(2) {
        border-right: 1px solid $blue ;
        padding-left: 10px;
        padding-right: 10px;
        height: 19px;
        @include media (">large") {

          padding-left: 10px;
          padding-right: 20px;
        }
      }
      a{
          padding: 5px 7px;

        }

      @include media ("<=large") {
        margin: 0;


      }
    }
    @include media ("<medium") {
      margin: 7px 0 3px 3px;
      display: inline-block;
    }
    @include media (">large") {
      margin: 15px 0 15px 132px;

    }
    /* todo: logged in fixe                                         */
    &.loggedin {
      li {
        font-size: 1.3em;

        &:nth-child(1) {
          &:before {
            content: "";
            display: block;
            background: url('/img/icon/watchlist.png') no-repeat;
            width: 11px;
            height: 10px;
            float: left;
            margin: 5px 10px 5px 0;
          }

          a {
            border-right: 1px solid $blue;
            float: left;
            padding-right: 20px;
          }
        }

        &:nth-child(2) {
          &:before {
            content: "";
            display: block;
            background: url('/img/icon/profile.png') no-repeat;
            width: 13px;
            height: 14px;
            margin: 3px 10px 3px 20px;
            float: left;
          }

          a {
            border-right: 1px solid $blue;
            float: left;
            padding-right: 20px;
          }
        }

        a {
          padding: 0;
          color: $blue;
        }

        &:last-child {
          padding-left: 20px;
        }
      }
    }

    &.login {
      li {
        font-size: 1.3em;

        &:nth-child(1) {
          a {
            border-right: 1px solid $blue;
            padding-right: 40px;
          }
        }

        a {
          padding: 0;
          color: $blue;
        }

        &:last-child {
          padding-left: 40px;
        }
      }
    }
  }
  @include media ("<medium") {
    margin-top: 90px;
  }
  .find{
    height: 28px;
    padding-top: 6px;

    @include media (">large") {
      padding-top: 16px;
    }

    input {
      padding-left: 8px;
      font-size: 1.5em;
      &[type="text"] {
        height: 24px;
        width: 146px;
        border: 1px solid ;
        border-color: $darkergrey;
        border-radius: 4px;
        color: $darkestgrey;

        @include media (">large") {
          height: 35px;
          width: 290px;
          border: 1.5px solid;
          border-color: $darkergrey;
          border-radius: 4px;
          color: $darkestgrey;
        }

      }

      &[type="image"] {
        background-color: transparent;
        border: none;
        width: 20px;
        height: 15px;
        padding-left: 4px;
        margin-left: 0px;
        @include media (">large") {
          width: 30px;
          height: 22px;
          padding-left: 4px;
          background-color: transparent;
          border: none;
        }
        }


      @include media (">large") {

        .input-field input[type="text"] {

          width: 161px !important;
        }

      }
    }
    &.input-footer {
      margin: 18px 0 0 0;
      input {
        &[type="text"] {
          height: 28px;
          width: 183px;
        }
      }
    }
  }

}












 /* onderste menu css*/
.main-menu{
  background-color: $grey;
  padding-left: 290px;
  top: 0;
  margin: 0;
  border: none;
  @include media ("<=medium") {
    padding-left: 0;
.container{
margin: 0px;
}
    .menu {

      ul {
        padding: 10px 10px 10px 200px !important;

        width: 100%;
float: left;
        li {
          height:25px;

          a {
            line-height: 50px;
            border: none !important;
            //width: 100%;
          }

          &:nth-child(1) {
            &::before {
              margin: 20px 10px 20px 0 !important;
            }
          }

          &:nth-child(2) {
            &::before {
              margin: 18px 10px 18px 0 !important;
            }
          }

          &:last-child {
            padding-left: 0 !important;
          }
        }
        &:nth-child(2) {
          width: 20%;
          float: left !important;
          padding: 0px 0px 0px 50px !important;

        }
      }
    }
  }

  @include media(">medium", "<=large") {
    padding-left: 29px;
  }


}
      .menu {

        padding-right: 0;
        ul {
          li {
            font-size: 1.5em;
            font-weight: bold;

            margin-right: 30px;

            @include media ("<large") {
              font-size: 1.2em;
              margin-right: 25px;
            }

            a {
              color: $darkgrey;
              padding: 0;
              line-height: 50px;
            }
          }
          /*eerste ul menu*/
          &:first-child {
            padding-left: 80px;
            margin-top: 0;
            @include media ("<medium") {
              padding: 0;
              li {
                margin: 0;
                padding: 0 25px;

                &:hover {
                  background-color: darken($grey, 8);
                }

              }
            }
            @include media(">medium", "<=large") {
              padding-left: 100px;
            }
          }

          /*tweede ul menu*/
          &:last-child {
            padding-right: 116px;
            font-weight: bold !important;
            color: red;
            li {
              margin-right: 15px;
              a {
                font-weight: normal;
                color: $blue;
              }

              &.active {
                a {
                  background-color: transparent;

                  font-weight: bolder !important;
                }
              }
            }
            @include media ("<medium"){
              padding: 0 25px;
              text-align: center;
              li {
                height: 50px;
                width: 50px;
                float: left;

                &:hover {
                  background-color: darken($grey, 8);
                }
              }
            }
          }


        }
      }



