@import "include-media";

@import "nav";
@import "footer";
@import "landing";
@import "auction";
@import "faq";
@import "isearch";
@import "detail";
@import "myauctions";
$font-weight-light:300;
$font-weight-regular:400;
$font-weight-bold:600;
$breakpoints: (small: 380px, medium: 768px, large: 1024px);
$lightblue-overlay: #485cb2;


$green: #01a6a0;
$danger: #fff1f1;
$grey: #eaeaea;
$lightgrey: lighten($grey, 10%);
$lightergrey : lighten($lightgrey, 10%);

$hoverGreyBtn: #e1e1e1;
$lightestGrey: #f5f5f5;
$lightergrey: #e5e5e5;
$darkgrey: darken($grey, 20%);
$darkergrey: darken($darkgrey, 10%);

$darkgrey: #4e4e4e;
$darkestgrey: #1d1d1b;

$darkerGrey: #757575;

$footerGrey: #5c5c5c;

$hoverGrey: #565656;

$blue: #0a1e75;
$lightBlue: #0120a6;
$lighterBlue: #2b45b5;

/*algemene css*/
body, html {
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
  font-size: 1em;

}

h1 {
  font-family: 'Helvetica', sans-serif;
  font-size: 4.5em;
  font-weight: $font-weight-regular;
  margin: 55px 0;
  color: #545353;
}

h2 {
  font-family: 'Helvetica', sans-serif;
  font-size: 4em;
  color: #0a1e75;
  font-weight: $font-weight-light;
  margin-bottom: 50px;
  text-align: center;
}

h3 {
  font-size: 2.5em;
  margin: 0;
}

h4 {
  font-size: 2.2em;
  font-weight: $font-weight-bold;
  margin: 0;
  color: black;
}

h5 {
  font-size: 2em;
  font-weight: bold;
  margin: 0;
  color: #0a1e75;
}

ul {
  list-style: none;
}


label {
  font-size: 2em;
  color: $blue;
  font-weight: normal;
}


/*css van de platenspeler**/


#inleiding{
  background: url("../img/platenspeler.jpg") center no-repeat  ;
  background-size: cover;
margin-top: -1%;
  height: 536px;
  width: 100%;

  .container {
    padding-top: 104px;
    height: 100%;

    .inleidingKader {
      position: relative;
      height: calc(100%/432*332);
      margin: 50px 0;
      width: 314px;
      background-color: #5165bc;
      color: white;

      #actie {
        height: calc(100%/332*252);

        h1 {
          font-size: 3em;
          padding: 30px 0 0 30px;
          height: 71px;
          color: white;
          margin: 0;

          border-bottom: 1px solid #6c7dc6;
        }
        p {
          margin: 0;
          font-size: 1.5em;
          padding: 21px 30px 0 30px;


        }
        .price {
          font-size: 1.8em;
          padding: 0px 30px 0 30px;
        }

        #euro{
          padding-left: 30px;
          margin-top: 14px;
          display: inline-block;

        }
      }

      #loremBtn{

        background-color: white;
        height: calc(100%/332*80);
        width: 100%;
padding-top: 10px;
        padding-left: 30px;


        a{
          font-size: 2em;

          color: $green;
        }
        i{
          margin-left: 20px;
          color: $green;
          padding: 20px 0;
        }
      }
    }
  }
}


/*errors */
.errors {
  border: none;
  border-radius: 0;
  background-color: $danger;
  padding-left: 50px;
  font-size: 1.5em;
  height: 115px;

  display: flex;
  align-items: center;

  ul {
    li {
      list-style: disc;
      color: #ff0400;
    }
  }
}




/* Inclusive and exclusive operators for a finer control over the intervals */
@include media(">medium", "<=large") {
  .navbar, .landing, .footer, footer, #landing, #popular, #uitleg {
    width: 100%;
  }
}
@include media(">large") {
  .navbar, .landing{
    width: 100%;
    margin: 0;
  }
}
@include media(">small", "<=medium") {
  .navbar, .landing {
    width: 1500px;
  }
}
@include media("<small") {
  .navbar, .landing {
    width: 100%;
  }
  .container{
    width: 1000px !important;
  }
}